/*Color Pallete: #C7BAE2 is our background purple.*/
/*#59344F can replace the blacks.*/
/*#FFFEFF is the color white.*/
/*#73937E will temporarly replace all grays*/

body {
    /* background-color:#C7BAE2; */
    background-color: #FFFEFF;
}

#seasonsBody {
    background-color: #FFFEFF;
}

#home, #bio, #about-page, #seasons, #individual-seasons, #all-paintings, #individual-episode {
    margin-top: 95px; 
  }

header {
  padding:128px 16px;
  background-color: #C7BAE2;
}

/* Borders for all paintings and induvidual paintings */
#paintingsTable img, #imgDiv img {
    border: 10px solid#C7BAE2;
  }

body, h1, h2, h3, h4, h5, h6{
    font-family: 'Bebas Neue', cursive;
}

#navBar{
    font-family: 'Bebas Neue', cursive; 
}

/* modal css (from w3-schools) */
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#subtitle1 {
  border-left-style: solid;
  border-color: #59344F;
  border-width: 5px;
} 