/*Color Pallete: #C7BAE2 is our background purple.*/
/*#59344F can replace the blacks.*/
/*#FFFEFF is the color white.*/
/*#73937E will temporarly replace all grays*/

body {
    /* background-color:#C7BAE2; */
    background-color: #FFFEFF;
}
#seasonsBody {
    background-color: #FFFEFF;
}

#home, #bio, #about-page, #seasons, #individual-seasons, #all-paintings {
    margin-top: 80px; 
  }

header {
  padding:128px 16px;
  background-color: #C7BAE2;
}

/* #paintingsTable {
    border: 5px solid rgb(0, 0, 0);
}
#all-paintings {
    margin-top: 5%;
    margin-right:50%;
<<<<<<< HEAD
} */

img {
    border: 10px solid#C7BAE2;
  }

h1{
    font-family: 'Bebas Neue', cursive;
}
